/*
	mantis framework:
	purpose: hues of the rainbow

	nice hsl palettes:
		(mantis)      (330 deg, 25%, 39%)
		(mantis)      (330 deg, 43%, 45%)

		(mantis)      (205 deg, 10%, 50%)

		(nift salmon) ( 0deg,73%,68%) 
		(earthy)      (41deg,16%,54%) (287°,30%,45%) 
		(earthy)      (h deg,20%,50%)

		()              (h deg,52%, 63%)
		()              (h deg,27%, 63%)
		()              (h deg,38%, 63%)
		()              (h deg,44%, 63%)

*/

:root {
	--hue-red           :   0;
	--hue-orange-red    :  24;
	--hue-orange        :  30;
	--hue-orange-yellow :  39;
	--hue-yellow        :  60;
	--hue-lime          :  90;
	--hue-green         : 120;
	--hue-xxx           : 150;
	--hue-cyan          : 180;
	--hue-light-blue    : 210;
	--hue-blue          : 240;
	--hue-purple        : 270;
	--hue-indigo        : 280;
	--hue-magenta       : 300;
	--hue-fuchsia       : 309;
	--hue-violet        : 320;
	--hue-pink          : 330;

	--rnbw-grad-top   : linear-gradient(to right, red, blue);
	--rnbw-grad-right : linear-gradient(to bottom, blue, pink);
	--rnbw-grad-bottom: linear-gradient(to left, pink, green);
	--rnbw-grad-left  : linear-gradient(to top, green, red);
}

/*
	useful: 
		- https://shark.comfsm.fm/~dleeling/cis/hsl_rainbow.html
		- https://encycolorpedia.com/
		- https://www.colorhexa.com/
		- https://www.color-name.com/sherbet.color
*/

/*
	to add:
		- https://stackoverflow.com/questions/5162458/fade-through-more-more-natural-rainbow-spectrum-in-hsv-hsb
*/
/*
	neon color palette
	hsl = (h, 100%, 50%)
	
	hsl = (h, 100%, 67%)
	hsl = (h, 92%, 56%)

	green:  #74db00 #72c920 #39ff14;
	purple: #c922c9;
	pink:   #ff1493;
*/

:root {
	--neon-red        : hsl(var(--hue-red)       , 100%, 50%);
	--neon-orange     : hsl(var(--hue-orange)    , 100%, 50%);
	--neon-yellow     : hsl(var(--hue-yellow)    , 100%, 50%);
	--neon-lime       : hsl(var(--hue-lime)      , 100%, 50%);
	--neon-green      : hsl(var(--hue-green)     , 100%, 50%);
	--neon-cyan       : hsl(var(--hue-cyan)      , 100%, 50%);
	--neon-light-blue : hsl(var(--hue-light-blue), 100%, 50%);
	--neon-blue       : hsl(var(--hue-blue)      , 100%, 50%);
	--neon-purple     : hsl(var(--hue-purple)    , 100%, 50%);
	--neon-indigo     : hsl(var(--hue-indigo)    , 100%, 50%);
	--neon-magenta    : hsl(var(--hue-magenta)   , 100%, 50%);
	--neon-violet     : hsl(var(--hue-violet)    , 100%, 50%);
	--neon-pink       : hsl(var(--hue-pink)      , 100%, 50%);
}

.neon-red        {color: var(--neon-red)}
.neon-orange     {color: var(--neon-orange)}
.neon-yellow     {color: var(--neon-yellow)}
.neon-lime       {color: var(--neon-yellow)}
.neon-green      {color: var(--neon-green)}
.neon-cyan       {color: var(--neon-blue)}
.neon-light-blue {color: var(--neon-blue)}
.neon-blue       {color: var(--neon-blue)}
.neon-purple     {color: var(--neon-purple)}
.neon-indigo     {color: var(--neon-purple)}
.neon-magenta    {color: var(--neon-purple)}
.neon-violet     {color: var(--neon-violet)}
.neon-pink       {color: var(--neon-pink)}

.neon-red-bg        {background-color: var(--neon-red)}
.neon-orange-bg     {background-color: var(--neon-orange)}
.neon-yellow-bg     {background-color: var(--neon-yellow)}
.neon-lime-bg       {background-color: var(--neon-yellow)}
.neon-green-bg      {background-color: var(--neon-green)}
.neon-cyan-bg       {background-color: var(--neon-blue)}
.neon-light-blue-bg {background-color: var(--neon-blue)}
.neon-blue-bg       {background-color: var(--neon-blue)}
.neon-purple-bg     {background-color: var(--neon-purple)}
.neon-indigo-bg     {background-color: var(--neon-purple)}
.neon-magenta-bg    {background-color: var(--neon-purple)}
.neon-violet-bg     {background-color: var(--neon-violet)}
.neon-pink-bg       {background-color: var(--neon-pink)}
/*
	pastel color palette
	hsl = (h, 100%, 90%)
*/

:root {
	--pastel-red        : hsl(var(--hue-red)       , 100%, 90%);
	--pastel-orange     : hsl(var(--hue-orange)    , 100%, 90%);
	--pastel-yellow     : hsl(var(--hue-yellow)    , 100%, 90%);
	--pastel-lime       : hsl(var(--hue-lime)      , 100%, 90%);
	--pastel-green      : hsl(var(--hue-green)     , 100%, 90%);
	--pastel-cyan       : hsl(var(--hue-cyan)      , 100%, 90%);
	--pastel-light-blue : hsl(var(--hue-light-blue), 100%, 90%);
	--pastel-blue       : hsl(var(--hue-blue)      , 100%, 90%);
	--pastel-purple     : hsl(var(--hue-purple)    , 100%, 90%);
	--pastel-indigo     : hsl(var(--hue-indigo)    , 100%, 90%);
	--pastel-magenta    : hsl(var(--hue-magenta)   , 100%, 90%);
	--pastel-violet     : hsl(var(--hue-violet)    , 100%, 90%);
	--pastel-pink       : hsl(var(--hue-pink)      , 100%, 90%);
}

.pastel-red        {color: var(--pastel-red)}
.pastel-orange     {color: var(--pastel-orange)}
.pastel-yellow     {color: var(--pastel-yellow)}
.pastel-lime       {color: var(--pastel-yellow)}
.pastel-green      {color: var(--pastel-green)}
.pastel-cyan       {color: var(--pastel-blue)}
.pastel-light-blue {color: var(--pastel-blue)}
.pastel-blue       {color: var(--pastel-blue)}
.pastel-purple     {color: var(--pastel-purple)}
.pastel-indigo     {color: var(--pastel-purple)}
.pastel-magenta    {color: var(--pastel-purple)}
.pastel-violet     {color: var(--pastel-violet)}
.pastel-pink       {color: var(--pastel-pink)}

.pastel-red-bg        {background-color: var(--pastel-red)}
.pastel-orange-bg     {background-color: var(--pastel-orange)}
.pastel-yellow-bg     {background-color: var(--pastel-yellow)}
.pastel-lime-bg       {background-color: var(--pastel-yellow)}
.pastel-green-bg      {background-color: var(--pastel-green)}
.pastel-cyan-bg       {background-color: var(--pastel-blue)}
.pastel-light-blue-bg {background-color: var(--pastel-blue)}
.pastel-blue-bg       {background-color: var(--pastel-blue)}
.pastel-purple-bg     {background-color: var(--pastel-purple)}
.pastel-indigo-bg     {background-color: var(--pastel-purple)}
.pastel-magenta-bg    {background-color: var(--pastel-purple)}
.pastel-violet-bg     {background-color: var(--pastel-violet)}
.pastel-pink-bg       {background-color: var(--pastel-pink)}
/*
	powder color palette
	hsl = (h, 52%, 80%)
*/

:root {
	--powder-red        : hsl(var(--hue-red)       , 52%, 80%);
	--powder-orange     : hsl(var(--hue-orange)    , 52%, 80%);
	--powder-yellow     : hsl(var(--hue-yellow)    , 52%, 80%);
	--powder-lime       : hsl(var(--hue-lime)      , 52%, 80%);
	--powder-green      : hsl(var(--hue-green)     , 52%, 80%);
	--powder-cyan       : hsl(var(--hue-cyan)      , 52%, 80%);
	--powder-light-blue : hsl(var(--hue-light-blue), 52%, 80%);
	--powder-blue       : hsl(var(--hue-blue)      , 52%, 80%);
	--powder-purple     : hsl(var(--hue-purple)    , 52%, 80%);
	--powder-indigo     : hsl(var(--hue-indigo)    , 52%, 80%);
	--powder-magenta    : hsl(var(--hue-magenta)   , 52%, 80%);
	--powder-violet     : hsl(var(--hue-violet)    , 52%, 80%);
	--powder-pink       : hsl(var(--hue-pink)      , 52%, 80%);
}

.powder-red        {color: var(--powder-red)}
.powder-orange     {color: var(--powder-orange)}
.powder-yellow     {color: var(--powder-yellow)}
.powder-lime       {color: var(--powder-yellow)}
.powder-green      {color: var(--powder-green)}
.powder-cyan       {color: var(--powder-blue)}
.powder-light-blue {color: var(--powder-blue)}
.powder-blue       {color: var(--powder-blue)}
.powder-purple     {color: var(--powder-purple)}
.powder-indigo     {color: var(--powder-purple)}
.powder-magenta    {color: var(--powder-purple)}
.powder-violet     {color: var(--powder-violet)}
.powder-pink       {color: var(--powder-pink)}

.powder-red-bg        {background-color: var(--powder-red)}
.powder-orange-bg     {background-color: var(--powder-orange)}
.powder-yellow-bg     {background-color: var(--powder-yellow)}
.powder-lime-bg       {background-color: var(--powder-yellow)}
.powder-green-bg      {background-color: var(--powder-green)}
.powder-cyan-bg       {background-color: var(--powder-blue)}
.powder-light-blue-bg {background-color: var(--powder-blue)}
.powder-blue-bg       {background-color: var(--powder-blue)}
.powder-purple-bg     {background-color: var(--powder-purple)}
.powder-indigo-bg     {background-color: var(--powder-purple)}
.powder-magenta-bg    {background-color: var(--powder-purple)}
.powder-violet-bg     {background-color: var(--powder-violet)}
.powder-pink-bg       {background-color: var(--powder-pink)}
/*
	sherbet color palette
	hsl = (h, 87%, 76%)
	hsl = (h, 77%, 86%)
	hsl = (h, 81%, 76%)
	hsl = (h, 81%, 78%) (flower girl)
*/

:root {
	--sherbet-red        : hsl(var(--hue-red)       , 87%, 76%);
	--sherbet-orange     : hsl(var(--hue-orange)    , 87%, 76%);
	--sherbet-yellow     : hsl(var(--hue-yellow)    , 87%, 76%);
	--sherbet-lime       : hsl(var(--hue-lime)      , 87%, 76%);
	--sherbet-green      : hsl(var(--hue-green)     , 87%, 76%);
	--sherbet-cyan       : hsl(var(--hue-cyan)      , 87%, 76%);
	--sherbet-light-blue : hsl(var(--hue-light-blue), 87%, 76%);
	--sherbet-blue       : hsl(var(--hue-blue)      , 87%, 76%);
	--sherbet-purple     : hsl(var(--hue-purple)    , 87%, 76%);
	--sherbet-indigo     : hsl(var(--hue-indigo)    , 87%, 76%);
	--sherbet-magenta    : hsl(var(--hue-magenta)   , 87%, 76%);
	--sherbet-violet     : hsl(var(--hue-violet)    , 87%, 76%);
	--sherbet-pink       : hsl(var(--hue-pink)      , 87%, 76%);
}

.sherbet-red        {color: var(--sherbet-red)}
.sherbet-orange     {color: var(--sherbet-orange)}
.sherbet-yellow     {color: var(--sherbet-yellow)}
.sherbet-lime       {color: var(--sherbet-yellow)}
.sherbet-green      {color: var(--sherbet-green)}
.sherbet-cyan       {color: var(--sherbet-blue)}
.sherbet-light-blue {color: var(--sherbet-blue)}
.sherbet-blue       {color: var(--sherbet-blue)}
.sherbet-purple     {color: var(--sherbet-purple)}
.sherbet-indigo     {color: var(--sherbet-purple)}
.sherbet-magenta    {color: var(--sherbet-purple)}
.sherbet-violet     {color: var(--sherbet-violet)}
.sherbet-pink       {color: var(--sherbet-pink)}

.sherbet-red-bg        {background-color: var(--sherbet-red)}
.sherbet-orange-bg     {background-color: var(--sherbet-orange)}
.sherbet-yellow-bg     {background-color: var(--sherbet-yellow)}
.sherbet-lime-bg       {background-color: var(--sherbet-yellow)}
.sherbet-green-bg      {background-color: var(--sherbet-green)}
.sherbet-cyan-bg       {background-color: var(--sherbet-blue)}
.sherbet-light-blue-bg {background-color: var(--sherbet-blue)}
.sherbet-blue-bg       {background-color: var(--sherbet-blue)}
.sherbet-purple-bg     {background-color: var(--sherbet-purple)}
.sherbet-indigo-bg     {background-color: var(--sherbet-purple)}
.sherbet-magenta-bg    {background-color: var(--sherbet-purple)}
.sherbet-violet-bg     {background-color: var(--sherbet-violet)}
.sherbet-pink-bg       {background-color: var(--sherbet-pink)}
/*
	sorbet color palette
	hsl = (h, 63%, 52%)
	hsl = (h, 82%, 73%)
	hsl = (h, 89%, 83%)
*/

:root {
	--sorbet-red        : hsl(var(--hue-red)       , 63%, 52%);
	--sorbet-orange     : hsl(var(--hue-orange)    , 63%, 52%);
	--sorbet-yellow     : hsl(var(--hue-yellow)    , 63%, 52%);
	--sorbet-lime       : hsl(var(--hue-lime)      , 63%, 52%);
	--sorbet-green      : hsl(var(--hue-green)     , 63%, 52%);
	--sorbet-cyan       : hsl(var(--hue-cyan)      , 63%, 52%);
	--sorbet-light-blue : hsl(var(--hue-light-blue), 63%, 52%);
	--sorbet-blue       : hsl(var(--hue-blue)      , 63%, 52%);
	--sorbet-purple     : hsl(var(--hue-purple)    , 63%, 52%);
	--sorbet-indigo     : hsl(var(--hue-indigo)    , 63%, 52%);
	--sorbet-magenta    : hsl(var(--hue-magenta)   , 63%, 52%);
	--sorbet-violet     : hsl(var(--hue-violet)    , 63%, 52%);
	--sorbet-pink       : hsl(var(--hue-pink)      , 63%, 52%);
}

.sorbet-red        {color: var(--sorbet-red)}
.sorbet-orange     {color: var(--sorbet-orange)}
.sorbet-yellow     {color: var(--sorbet-yellow)}
.sorbet-lime       {color: var(--sorbet-yellow)}
.sorbet-green      {color: var(--sorbet-green)}
.sorbet-cyan       {color: var(--sorbet-blue)}
.sorbet-light-blue {color: var(--sorbet-blue)}
.sorbet-blue       {color: var(--sorbet-blue)}
.sorbet-purple     {color: var(--sorbet-purple)}
.sorbet-indigo     {color: var(--sorbet-purple)}
.sorbet-magenta    {color: var(--sorbet-purple)}
.sorbet-violet     {color: var(--sorbet-violet)}
.sorbet-pink       {color: var(--sorbet-pink)}

.sorbet-red-bg        {background-color: var(--sorbet-red)}
.sorbet-orange-bg     {background-color: var(--sorbet-orange)}
.sorbet-yellow-bg     {background-color: var(--sorbet-yellow)}
.sorbet-lime-bg       {background-color: var(--sorbet-yellow)}
.sorbet-green-bg      {background-color: var(--sorbet-green)}
.sorbet-cyan-bg       {background-color: var(--sorbet-blue)}
.sorbet-light-blue-bg {background-color: var(--sorbet-blue)}
.sorbet-blue-bg       {background-color: var(--sorbet-blue)}
.sorbet-purple-bg     {background-color: var(--sorbet-purple)}
.sorbet-indigo-bg     {background-color: var(--sorbet-purple)}
.sorbet-magenta-bg    {background-color: var(--sorbet-purple)}
.sorbet-violet-bg     {background-color: var(--sorbet-violet)}
.sorbet-pink-bg       {background-color: var(--sorbet-pink)}

@font-face 
{
	font-family: "oxygen";
	src: url("../fonts/OxygenMono-Regular.otf") format("truetype");
	font-display: fallback;
}

@font-face 
{
	font-family: "CyberspaceRaceway";
	src: url("../fonts/CyberspaceRacewayFront-lWGD.ttf") format("truetype");
	font-display: fallback;
}

:root {
	--bg-content : #121212;
}

html, body, div, 
h1, h2, h3, h4, h5, h6,
a, code, img, header,
form, label, legend, 
table, caption, tbody, 
tfoot, thead, tr, th, td {
	margin:  0 0 0 0;
	line-height: 1.25em;
	box-sizing: border-box;
	max-width: 100%;
}

body
{
	background: var(--bg-content);
	color: #ffffff;
	font-family: oxygen;
	max-width: 100%;
	min-height: 100%;
}

::-moz-selection {
	color: var(--bg-content);
	background-color: var(--rnbw-color-6);
}

::selection {
	color: var(--bg-content);
	background-color: var(--rnbw-color-6);
}

h1::selection {
	background-color: transparent;
	color: inherit;
}

h1, h2, h3, h4, h5, h6
{
	text-align: center;
}

h1{color: var(--rnbw-color-6)}
h2{color: var(--rnbw-color-7)}
h3{color: var(--rnbw-color-8)}
h4{color: var(--rnbw-color-9)}
h5{color: var(--rnbw-color-10)}
h6{color: var(--rnbw-color-11)}

.noselect, br, .fa
{
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

ul li {
  list-style: none;
  list-style-position: inside !important;
}

#content ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #cf7327; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  font-size: 12pt;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 0.75em; /* Also needed for space (tweak if needed) */
  margin-left: 0em; /* Also needed for space (tweak if needed) */
}

#content
{
	overflow-y: auto;
	max-width: 85%;
	width: 850px;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 0.5em;
	text-align: left;
}


/* width */
::-webkit-scrollbar {
	width: 10px;
	height: 0px; /*5px;*/
}

/* Track */
::-webkit-scrollbar-track {
 	/*background: var(--bg-content); */
 	background: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	/*border-radius: 4px;*/
 	background: var(--rnbw-color);
	border-left: 9px var(--bg-content) solid;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 	background: var(--rnbw-color-hover);
 	border-left: 0px;
}
/**
 *  icon
 */
.fa {
  cursor: pointer;
  display: inline-block;
  width: 2em;
  vertical-align: middle;
}

/**
 * sizes
 */
.fa-1x {
  width: 1em;
}
.fa-1-5x {
  width: 1.5em;
}
.fa-2x {
  width: 2em;
}

/**
 * colors
 */
.fa-green {
  filter: invert(50%) sepia(100%) saturate(200%) hue-rotate(75deg) brightness(100%) contrast(100%);
}
.fa-green:hover {
  filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(187deg) brightness(119%) contrast(119%);
}


/**
 * solid
 */
.fa-angle-down:before {
  content: url("../icons/angle-down-solid.svg"); 
}
.fa-angle-up:before {
  content: url("../icons/angle-up-solid.svg"); 
}
.fa-bars:before {
  content: url("../icons/bars-solid.svg"); 
}
.fa-xmark:before {
  content: url("../icons/xmark-solid.svg"); 
}

.fa-angle-down-png {
  content: url("../icons/inverted/angle-down-solid.png"); 
}
.fa-angle-up-png {
  content: url("../icons/inverted/angle-up-solid.png"); 
}
.fa-bars-png {
  content: url("../icons/inverted/bars-solid.png"); 
}
.fa-xmark-png {
  content: url("../icons/inverted/xmark-solid.png"); 
}
:root {
  --bg-menu: #1f2223;
}

.menu-bars, .menu-cross {
  position: absolute;
  top: 1em;
  left: 1em;
  text-align: center;
}

.menu-bars:hover, .menu-cross:hover {
  cursor: grab;
}

#close-menu-icon, #open-menu-icon {
  width: 1.5em;
  height: 1.5em;
  padding-top: 0em;
  background-color: var(--rnbw-color);
}

#close-menu-icon:hover, #open-menu-icon:hover {
  background-color: var(--rnbw-color-hover);
}

#menu-page {
  visibility: hidden;
  position: fixed; /*absolute/fixed both work*/
  overflow-y: auto;
  background: var(--bg-menu);
  padding-top: 4em;
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

nav ul {
  padding-left: 0px;
  position: relative;
}

nav a {
  font-size: 15pt;
  color: white;
  text-decoration: none !important;
}

.item {
  padding: 0.5em 0px;
}

.has-submenu {
  overflow-x: hidden;
}

.submenu-link i {
  background-color: white;
}
.submenu-link:hover i {
  background-color: var(--rnbw-color-hover);
}
.item-link:hover, .submenu-link:hover {
  /*filter: invert(42%) sepia(93%) saturate(800%) hue-rotate(100deg) brightness(119%) contrast(119%);*/
  /*filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(187deg) brightness(119%) contrast(119%);*/
  color: var(--rnbw-color-hover);
}
.li-menu:hover {
  /*background: #181a1b;*/
}

.submenu {
  display: none;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
.submenu li {
  padding: 0.5em;
}
.subitem a {
  font-size: 1em;
}
.subitem a:hover {
  /*color: #14bdff;*/
}

/* Handle */
#menu-page::-webkit-scrollbar-thumb {
  border-left: 9px var(--bg-menu) solid;
}

/* Handle on hover */
#menu-page::-webkit-scrollbar-thumb:hover {
  border-left: 0px;
}
:root {
	--bg-code: #121212; /*hsl(0deg, 0%, 12%, 0.25);*/
	--gradient-code-bg: linear-gradient(var(--bg-code), var(--bg-code));
	--gradient-border: linear-gradient(to bottom right, var(--rnbw-color-3), var(--rnbw-color-0));
}

cpbutton
{
	text-align: center;
	z-index:99;
	float:right !important;
	/*position: relative;
	right: 10px;*/
	margin-left: 10px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0px;
	padding-bottom: 2px !important;
	text-decoration: none;
	background: #1f2021 !important;
	border-radius:5px;
	opacity: 0.5;

	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

cpbutton:hover
{
	z-index:99;
	opacity: 1.0;
	cursor: pointer;
}

cpbutton:active
{
	z-index:99;
	background: white !important;
}

pre.scroll
{
	max-height: 400px;
	overflow-y: auto;
}

pre.inline
{
	display: inline-block !important;
}

pre.wrap
{
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre.resize
{
	resize: both;
}

pre-old
{
	background-color: hsl(0deg, 0%, 12%, 0.5);/*#2d2d2d;*/
	color: white;

	white-space: pre-wrap;

	text-align:left;
	tab-size: 4;
	border-radius: 4px;
	min-width: 130px;
	max-width: 90%;
	overflow: auto;
	overflow-x: auto;

	font-family: oxygen, Ubuntu Mono, DejaVu Sans Mono, Liberation Mono, Consolas, Ubuntu Mono, Courier New;
	font-size: 90%;

	padding: 1em;
	margin: 0 auto 1em;

	border-image: linear-gradient(to bottom right, var(--rnbw-color-5), var(--rnbw-color-0)) 30;
	border-width: 1px;
	border-style: solid;
}

pre{
	background-color: hsl(0deg, 0%, 12%, 0.25);
	color: white;

	white-space: pre-wrap;

	text-align:left;
	tab-size: 4;
	min-width: 130px;
	max-width: 85%;
	overflow: auto;
	overflow-x: auto;

	font-family: oxygen, Ubuntu Mono, DejaVu Sans Mono, Liberation Mono, Consolas, Ubuntu Mono, Courier New;
	font-size: 90%;

	padding: 1em;
	margin: 0 auto 1em;

	border: solid 1px transparent;
	border-radius: 4px;
	background-image: var(--gradient-code-bg), 
                      var(--gradient-border);
	background-origin: border-box;
	background-clip: padding-box, border-box; /*content-box, border-box;*/
}

#editor-container {
	background: transparent;
	max-width: 90%;
	padding: 1em;
	margin: 0 auto 1em;

	font-family: oxygen, Ubuntu Mono, DejaVu Sans Mono, Liberation Mono, Consolas, Ubuntu Mono, Courier New;
	font-size: 90%;

	border: solid 1px transparent;
	border-radius: 4px;
	background-image: var(--gradient-code-bg), 
                      var(--gradient-border);
	background-origin: border-box;
	background-clip: padding-box, border-box; /*content-box, border-box;*/
}

#editor-content, #editor {
	text-align:left;
	tab-size: 4;
	min-height: 200px;
	min-width: 100%;

	padding: 0;
	margin: 0;

	overflow: visible;
	overflow-x: auto;

	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#editor-content {
	/*background-color: hsl(0deg, 0%, 12%, 0.5);*/
	background-color: transparent;

	z-index: 1;
}


#editor {
	position: relative;
	color: transparent; /*hsla(100deg, 50%, 50%, 0.25);*/
	background: transparent;
	caret-color: var(--rnbw-color-6);

	margin-top: -200px;

	z-index: 2;
}

#editor:focus {
	outline: none;
}

/*caret types*/
.caret-bar > span {
  animation: blink 1s step-end infinite;
  border-left: 2px solid white;
}

.caret-block > span {
  animation: blink 1s step-end infinite;
  background-color: hsla(1, 1%, 100%, 1);
  color: #000;
}

.caret-underscore > span {
  animation: blink 1s step-end infinite;
  border-bottom: 2px solid white;
}

@keyframes blink {
  from,
  to {
  	color: white;
    border-color: transparent;
    background-color: transparent;
  }
  50% {
  	color: transparent;
    border-color: var(--rnbw-color);
    background-color: var(--rnbw-color);
  }
}

